.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #98A1BC;
  background-color: #F4EBD3;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border-radius: 6px;
  box-shadow: inset 0 0 2px rgba(85, 88, 121, 0.2);
}
.cell.filled {
  background-color: #555879;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
.cell:hover {
  background-color: #DED3C4;
  transform: scale(1.05);
}
